*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: #f7f9fc;
	color: #000;
	font: 17px/1.76 'Lato', sans-serif; 
}

a {
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}

a:hover {
	color: #bdbdbd;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?l62k60');
  src:  url('../fonts/icomoon.eot?l62k60#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?l62k60') format('truetype'),
    url('../fonts/icomoon.woff?l62k60') format('woff'),
    url('../fonts/icomoon.svg?l62k60#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}

.icon-pinterest:before {
  content: "\ead1";
}

.top {
	max-width: 952px;
	margin: 0 auto;
	padding: 60px 0;
}

.header img {
	border: 0;
	float: left;
	margin: -19px 0;
}

.nav {
	float: right;
}

.nav ul,
.nav2 ul {
	margin:0;
	padding: 0;
	list-style: none;
}

.nav ul li {
	display: inline-block;
	float: left;
	margin: 0 0 0 34px;
}

.article {
	background: #fff;
	box-shadow: 0 10px 25px rgba(0,0,0,0.2);
	padding: 40px 95px;
	margin: 80px 0 120px;
}

.article h1 {
	font-size: 40px;
	line-height: 1.25;
	border-bottom: 2px solid #eee ;
	padding: 0 0 40px;
	margin: 0 0 30px;
}

.article p {
	margin: 0 0 20px;
}

.article .intro {
	font-size: 25px;
	font-style: italic;
	color: rgba(0,0,0, 0.5);
	margin: 0 0 20px;
}

.bottom {
	width: 100%;
	overflow: hidden;
	position: relative;
	background: #5c6bc0;
}

.footer {
	max-width: 952px;
	margin: 0 auto;
	padding: 60px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer img {
	border: 0;
	margin: 0 0 35px 0; 
}

.nav2 a,
.info a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}

.nav2 a:hover,
.info a:hover {
	color: #bdbdbd;
}

.nav2 {
	border-bottom: 2px solid #5765b5;
	text-align: center;
	padding: 0 0 45px;
}

.info {
	border-top: 2px solid #5765b5;
	text-align: center;
	color: #a5acd9;
	padding: 40px 0;
}

.info a {
	text-transform: none;
	color: #a5acd9;
}

.info a:hover {
	color: #fff;
}

.footer p {
	color: #a5acd9;
	text-align: center;
}

.nav2 ul li {
	display: inline-block;
	padding: 0 0 0 40px;
}

.nav2 ul li a:hover {
	color: #a5acd9;
}

.holder {
	text-align: center;
	margin: 0 0 0 -20px;
}

.social {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	margin: 0;
	list-style: none;
}

.social li {
	display: inline-block;
	margin: 0 0 0 20px;
}

.social li a {
	text-decoration: none;
	color:  #fff;
	font-size: 20px;
}

.social li a:hover {
	color: #a5acd9;
}

@media all and (max-width: 1024px) {
	body {
		font-size: 14px/1.5;
	}

	.top {
		max-width: 720px;
		padding: 60px 0;
	}

	.header img {
		width: 180px;
		height: 44px;
		margin: -15px 0;
	}

	.article {
		padding: 25px 45px;
		margin: 60px 0 90px;
	}
	
	.article h1 {
		font-size: 30px;
		line-height: 1.2;
		padding: 0 0 30px;
		margin: 0 0 20px;
	}

	.article p,
	.footer p {
		margin: 0 0 15px;
		font-size: 16px;
	}

	.article .intro {
		font-size: 18px;
		margin: 0 0 15px;	
	}

	.footer {
		max-width: 720px;
		padding: 35px 0;
	}

	.footer img {
		margin: 0 0 25px 0; 
	}

	.nav ul li {
		margin: 0 0 0 30px;
		font-size: 16px;
	}

	.nav2 {
		padding: 0 0 35px;
	}

	.nav2 ul li {
		padding: 0 0 0 30px;
	}

	.nav2 li a {
		font-size: 16px;
	}
}

@media all and (max-width: 768px) {
	body {
		font-size: 12px/1.2;
	}

	.top {
		max-width: 610px;
		padding: 40px 0;
	}

	.header img {
		width: 160px;
		height: 38px;
		margin: -10px 0;
	}

	.article {
		padding: 20px 40px;
		margin: 40px 0 60px;
	}

	.article h1 {
		font-size: 25px;
		line-height: 1;
		padding: 0 0 20px;
		margin: 0 0 10px;
	}

	.article p,
	.footer p {
		font-size: 16px;
		margin: 0 0 10px;
	}


	.article .intro {
		font-size: 16px;
		margin: 0 0 12px;	
	}

	.footer {
		max-width: 610px;
		padding: 20px 0;
	}

	.footer img {
		margin: 0 0 15px 0; 
	}

	.footer p {
		padding: 5px 0 5px 0;
	}

	.nav ul li {
		margin: 0 0 0 20px;
		font-size: 14px;
	}

	.nav2 {
		padding: 0 0 25px;
	}

	.nav2 ul li {
		padding: 0 0 0 20px;
	}

	.nav2 li a {
		font-size: 14px;
	}
}

@media all and (max-width: 640px) {
	body {
		font-size: 12px/1;
	}

	.top {
		max-width: 570px;
		padding: 30px 0;
	}

	.header img {	
		width: 120px;
		height: 28px;
		margin: -8px 0;
	}

	.article {
		padding: 20px 25px;
	}

	.article h1 {
		font-size: 28px;
		padding: 0 0 15px;
		margin: 0 0 8px;
	}

	.article .intro 
	.article p,
	.footer p {
		font-size: 12px;
		margin: 0 0 10px;	
	}

	.footer {
		max-width: 570px;
		padding: 20px 0;
	}

	.footer img {
		margin: 0 0 10px 0; 
	}

	.nav ul li {
		margin: 0 0 0 15px;
		font-size: 12px;
	}

	.nav2 {
		padding: 0 0 15px;
	}

	.nav2 li a {
		font-size: 12px;
	}
}